.main_block_content_img_1 {
    width: 770px;
    max-height: 300px;
    background-image: url("../img/sample.jpg");
    background-size: cover;
    -webkit-box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
    -moz-box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
    box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
}

.main_block_content_img_2 {
    width: 770px;
    max-height: 300px;
    background-image: url("../img/sample1.jpg");
    background-size: cover;
    -webkit-box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
    -moz-box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
    box-shadow: 0px -27px 77px 16px rgba(34, 60, 80, 0.52) inset;
}

header {
    background: url('../img/apples.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding-bottom: 200px;
    margin: 0 auto;
    color: white;

}

.header_wrap {
    width: 92%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.logo {
    letter-spacing: 3px;
    font-size: 13px;
}

.top_bar {
    display: flex;
}

.top_bar ul {
    margin-left: auto;
}

.top_bar ul li {
    display: inline;
    margin-left: 30px;
    font-size: 13px;
}

h1 {
    letter-spacing: 5px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 10%;
}

h1 span {
    font-size: 50px;
}

.header_content p {
    margin-top: 0px;
    font-weight: lighter;
    font-size: 10px;
}

.header_content button {
    border: 2px solid white;
    width: 165px;
    height: 46px;
    color: white;
    background: rgba(61, 61, 61, 0.6);
    margin-top: 150px;
}


main {
    width: 100%;
    margin: 30px auto;
}

.main_wrap {
    width: 92%;
    margin: 0 auto;
}

.main_header p {
    margin: 0
}

.main_header {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 92%;
}

.main_header_left {
    width: 40%;
    justify-content: center;
    margin: auto auto;
    font-size: 18px;
}

.main_header_right {
    width: 50%;
    font-size: 13px;
}

.main_block {
    margin-top: 100px;
    background-color: #f3f3f3;
    padding-bottom: 50px;
    padding-top: 35px;
}

.main_block_content {
    width: 75%;
    margin: 0 auto;
}

.main_block_content_list {
    display: flex;
    height: 300px;
    justify-content: center;
    margin-bottom: 20px;
}

.main_block_content_like_button {
    border: 2px solid white;
    color: white;
    background: rgba(61, 61, 61, 0.3);
    height: 30px;
    width: 60px;
    margin: 10px;
    float: right;
}

.date {
    padding: 20px;
    display: block;
    margin-top: 240px;
    color: white;
}

.main_block_content_text_1 {
    width: 40%;
    text-align: center;
    margin: auto auto;
    padding-left: 10px;
}

.main_block_content_text_2 {
    width: 40%;
    text-align: center;
    margin: auto auto;
    padding-right: 10px;
}

.main_block_title {
    text-align: center;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px
}

.main_block_form {
    background-color: white;
    width: 92%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;

}

.form_content {
    display: flex;
    justify-content: center;
    margin: auto auto;
    width: 90%;
}

.form_content p {
    margin-right: auto;
}

.main_block_form input[type=email] {
    height: 32px;
    width: 70%;
    border: 1px solid #363636;
    margin-top: 8px;
    padding: 5px;
}

.main_block_form input[type=submit] {
    height: 44px;
    border-radius: 0;
    border: 1px solid #363636;
    background-color: #363636;
    color: white;
    margin-top: 8px;
}


.footer_wrap {
    width: 92%;
    margin: 0 auto;
}

.footer_content {
    display: flex;
    margin: 0 auto;
}

.footer_content div {
    width: 25%;
    margin: 2%;
}

.last_tweet {
    color: lightgrey;
}

.footer_content div p {
    color: #8a8a8a;
}

.footer_content div strong {
    display: block;
}

.footer_content div span {
    color: #8a8a8a;
    display: block;
}

.footer_content div input[type=email] {
    height: 21px;
    width: 50%;
    display: inline;
    border: 1px solid #363636;
}

.footer_content div input[type=submit] {
    height: 25px;
    border-radius: 0;
    border: 1px solid #363636;
    background-color: #363636;
    color: white;
    margin-left: -5px;
}

.footer_bottom {
    display: flex;
    font-size: 15px;

}

.footer_bottom span {
    margin: auto 0;
    color: #8a8a8a;
}

.footer_bottom ul li {
    display: inline;
    margin-left: 20px;
}

.footer_bottom ul {
    margin-left: auto;
}

hr {
    border: none;
    color: lightgrey;
    background-color: lightgrey;
    height: 1px; /* Толщина линии */
}