html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

svg {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #0078aa;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
}

svg:hover {
    background-color: white;
    color: #0078aa;
    border: 1px solid #0078aa;
    border-radius: 50%;
}

.nav_menu {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.nav_menu img {
    width: 32px;
    height: 32px;
    margin: auto auto;
    margin-left: 0;
}

.nav_menu ul li {
    list-style-type: none;
    display: inline;
}

.arrow {
    position: fixed;
    bottom: 10px;
    float: left;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0078aa;
    color: white;

}

.arrow:hover {
    border: 1px solid #0078aa;
    border-radius: 50%;
    background-color: white;
    color: #0078aa;
}

.nav_menu ul {
    margin-left: auto;
}

.header_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../img/lady.jpg") no-repeat center top;
    min-height: 730px;
}

.header_content {
    width: 80%;
    margin: auto auto;
}

.tool_img {
    background: url("../img/tools.png") no-repeat center;
    background-size: 100%;
    width: 40%;
    min-height: 500px;
}

.main_about {
    display: flex;
    padding: 40px 0;
}

.about {
    font-size: 14px;
    margin-left: 20px;
}

.about div {
    margin: auto;
}

#about {
    margin-bottom: 0;
}

.about span {
    color: #0078aa;
    margin-right: 5px;
}

.main_help {
    background: url("../img/services_bg.jpg") center no-repeat;
    background-size: cover;
}

.main_wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.main_help_title {
    text-align: center;
}

.main_help_title h1 {
    margin-bottom: 0;
}

.main_help_title p {
    margin-top: 0;
}

.block_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_wrap div {
    background-color: #fff;
    margin: 10px 20px;
    padding: 10px;
    font-size: 14px;
}

.main_price {
    background: url("../img/pricing_bg.jpg") center no-repeat;
    background-size: 100%;
    padding: 50px 0;
}

.price_block {
    display: flex;
    justify-content: center;
}

.price_block div {
    width: 20%;
    text-align: center;
}

.leftAndRight_check {
    padding: 20px 30px;
    background-color: lightskyblue;
    margin: 20px 0;
    color: white;
}

.eye_check {
    padding: 20px 30px;
    margin: 0;
    background-color: white;
    border: 2px solid #4b98c6;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.44);
    -moz-box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.44);
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.44);
    z-index: 99;
    color: #4b98c6;
}

.main_price_title {
    text-align: center;
}

.main_price_title h1 {
    margin-bottom: 0;
}

.main_price_title p {
    margin-top: 0;
}

.footer_contact {
    display: flex;
}

footer {
    margin-top: 20px;

}

.contact_img {
    background: url("../img/contact_image.jpg") no-repeat center;
    background-size: cover;
    min-height: 700px;
    width: 60%;
}

form input {
    display: block;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 20px;
}

.footer_copyright {
    background-color: #363636;
    text-align: center;
    padding: 10px;
    color: white;
}

.footer_copyright p {
    margin: 0;
}

.contact_form {
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

a:hover {
    color: #0078aa;
}

form input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: #0078aa;
    border-radius: 15px;
}

form input[type=submit]:hover {
    background-color: white;
    border: 1px solid #0078aa;
}

.price_block button {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid #0078aa;
    border-radius: 15px;
    color: #0078aa;
}

.price_block button:hover {
    background-color: #0078aa;
    color: white;
}

.price_block p {
    font-size: 15px;
}

.arrow {
    text-align: center;
    right: 0;
}

.arrow span {
    position: relative;
    margin: auto auto;
    display: block;
    width: 20px;
    height: 20px;
    top: 12.5px;
}

@media (max-width: 767px) {
    .nav_menu {
        flex-direction: column;
        justify-content: center;
        font-size: 10px;

    }

    .nav_menu ul {
        padding: 0;
        margin: 0 auto;
    }

    .nav_menu ul li a {
        margin: 0;
    }

    .nav_menu img {
        margin: 0 auto;
    }

    .header_content_wrap {
        flex-direction: column;
        justify-content: center;
        text-align: center
    }

    .main_about {
        flex-direction: column;
        justify-content: center;
    }

    .block_wrap {
        flex-direction: column;
        justify-content: center;
    }

    .price_block {
        flex-direction: column;
        justify-content: center;
    }

    .footer_contact {
        flex-direction: column;
        justify-content: center;
    }

    .tool_img {
        width: 100%;
        min-height: 200px;
    }

    .main_about {
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }

    .price_block div {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .contact_img {
        width: 100%;
        min-height: 200px;
    }
}
