body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #e9e9e9;
}

header {
    width: 50%;
    margin: 0 auto;
}

main {
    width: 50%;
    margin: 0 auto;
}

footer {
    width: 50%;
    margin: 0 auto;
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block div {
    width: 100%;
    height: 300px;

}

.first-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
}

.second-img {
    background: url("../img/image-01.jpg") center no-repeat;
    background-size: cover;
}

.second-img:hover {
    transform: scale(1.1);
}

.color1 {
    background-color: #66c2d1;
}

.text-color1 {
    color: #66c2d1;
}

.color2 {
    background-color: #138786;
}

.color3 {
    background-color: #24d4d4;
}

.color-white {
    background-color: white;
}

.shadow {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.border {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.lorem {
    display: flex;
    flex-direction: row;
}

.green-court {
    background: url("../img/image-02.jpg") center no-repeat;
    background-size: cover;
    width: 30%;
}

.green-court:hover {
    transform: scale(1.1);
}

.plan1 {
    margin-right: 30px;
}

.plan1:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4
}

.plan2:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.plan1 button:hover {
    background-color: #24d4d4
}

.border-plan {
    border: 2px solid #138786;
}

.m-1 {
    margin-top: 10px;
}

.m-0 {
    margin: 0;
}


.m-2 {
    margin-top: 20px;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan-img {
    background: url("../img/image-03.jpg") center no-repeat;
    background-size: cover;
    width: 35%;

}

.plan-img:hover {
    transform: scale(1.1);
}

.plan-card {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 40px;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    display: block;
}

button:hover {
    background-color: rgb(118, 205, 216);
}

.triangle:hover::before {
    content: '';
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px 0px 1px 52px;
    border-color: #66c2d1 transparent transparent transparent;
}

.triangle2:hover::before {
    content: '';
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 45px 32px 0;
    border-color: #66c2d1 transparent transparent transparent;

}

.triangle:hover {
    color: #66c2d1;
}

.triangle2:hover {
    color: #66c2d1;
}

.flex {
    display: flex;
    flex-direction: column;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.m-0 {
    margin: 0 auto;
}

#a:hover > .spec > #b {
    display: block;
}

#b {
    display: none;
}

.top {
    height: 100px;
}

.form {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    padding: 20px;
    top: -25px;
}

.bot {
    height: 250px;
    top: -50px;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

.bot div {
    width: 20%
}

.text-color2 {
    color: white;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

input:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

textarea:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

select:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none;
    color: blue;
}