:root {
    --primary-color: #f2c744;
    --light: #f4f6f9;
    --dark: #000;
    --primary-font: 'Shadows Into Light', cursive;
    --secondary-font: 'Dancing Script', cursive;
}

@media (max-width: 768px) {
    .container {
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .header {
        grid-area: 1;
        grid-template-rows: 1fr;
    }

    .info {
        margin-top: 15px;
        grid-area: 3;
    }

    .img {
        margin-top: 15px;
        grid-area: 2;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .img1 {
        grid-area: 1;
        margin-bottom: 15px;
    }

    .img2 {
        grid-area: 2;
        margin-bottom: 15px;
    }

    .img3 {
        grid-area: 3;
        margin-bottom: 15px;
    }

    .footer {
        margin-top: 15px;
        grid-area: 4;
    }

    body {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .container {
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .header {
        grid-area: 1;
        grid-template-rows: 1fr;
    }

    .info {
        margin-top: 15px;
        grid-area: 3;
    }

    .img {
        gap: 0px 15px;
        margin-top: 15px;
        grid-area: 2/1/2/3;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .img1 {
        grid-area: img1;
    }

    .img2 {
        grid-area: img2;
    }

    .img3 {
        grid-area: img3;
    }

    .footer {
        margin-top: 15px;
        grid-area: 4;
    }

    body {
        width: 100%;
    }
}

@media (min-width: 991px) {
    .info {
        top: 0;
        position: sticky;
        grid-area: 2 / 2 / 3 / 3;
    }

    .header {

        grid-area: 1 / 1 / 2 / 3;
        grid-template-rows: 60px 25px 25px;
    }

    .img {
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 2 / 1 / 3 / 2;
    }

    .footer {

        grid-area: 3 / 1 / 4 / 3;
    }

    body {
        width: 70%;
    }

    .container {
        grid-template-columns: 4.3fr 2.7fr;
        grid-template-rows: 0.4fr 2.2fr 0.4fr;
    }

}

body {
    margin: 0 auto;
    background-color: var(--light);
}

.container {
    display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.header {
    margin: 15px;
    background-color: var(--light);
    padding: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". logo ."
    ". name ."
    ". pos .";

}

.logo {
    grid-area: logo;
    background: url("images/logo.png") center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.name {
    grid-area: name;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.pos {
    font-family: var(--primary-font);
    grid-area: pos;
    text-align: center;

}


.info {
    margin: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    display: grid;
    max-height: 670px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "avatar"
    "name2"
    "pos2"
    "text1"
    "text2"
    "icon";
    text-align: center;
    font-family: var(--primary-font);
}

.avatar {
    background: url("images/avatar.jpg") center no-repeat;
    background-size: cover;
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 50%;
    grid-area: avatar;
}

.name2 {
    grid-area: name2;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 25px;
}

.pos2 {
    grid-area: pos2;
    font-family: var(--primary-font);
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.icon {
    grid-area: icon;
}


.img {
    margin: 15px;
    justify-content: center;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    display: grid;

    grid-template-rows: 1fr;

    grid-auto-flow: row;
    grid-template-areas:
    "img1 img2 img3";

}

.img1 {
    border-radius: 3px;
    display: grid;
    grid-template-rows: 150px 300px 220px 150px;
    grid-auto-columns: 1fr;
    gap: 15px 0px;
    grid-auto-flow: row;

}

.i1 {
    border-radius: 3px;
    background: url("https://picsum.photos/id/237/250/150") center no-repeat;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
}

.i2 {
    border-radius: 3px;
    background: url("https://picsum.photos/seed/picsum/250/300") center no-repeat;
    background-size: cover;
    grid-area: 2 / 1 / 3 / 2;
}

.i3 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/220?grayscale") center no-repeat;
    background-size: cover;
    grid-area: 3 / 1 / 4 / 2;
}

.i4 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/150/?blur") center no-repeat;
    background-size: cover;
    grid-area: 4 / 1 / 5 / 2;
}

.img2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 150px 250px 300px;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "im4"
    "im5"
    "im6"
    "im7";

}

.im4 {
    border-radius: 3px;
    background: url("https://picsum.photos/id/870/250/250?grayscale&blur=2") center no-repeat;
    background-size: cover;
    grid-area: im4;
}

.im5 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/150.jpg") center no-repeat;
    background-size: cover;
    grid-area: im5;
}

.im6 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/250.jpg") center no-repeat;
    background-size: cover;
    grid-area: im6;
}

.im7 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/300.jpg") center no-repeat;
    background-size: cover;
    grid-area: im7;
}

.img3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 415px 200px 350px;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "ig1"
    "ig2"
    "ig3";
}

.ig1 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/415.jpg") center no-repeat;
    background-size: cover;
    grid-area: ig1;
}

.ig2 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/200.jpg") center no-repeat;
    background-size: cover;
    grid-area: ig2;
}

.ig3 {
    border-radius: 3px;
    background: url("https://picsum.photos/250/350.jpg") center no-repeat;
    background-size: cover;
    grid-area: ig3;
}

.footer {
    margin: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". logo-footer ."
    ". name-footer ."
    ". pos-footer ."
    ". copy .";

}

.logo-footer {
    grid-area: logo-footer;
}

.name-footer {
    grid-area: name-footer;
}

.pos-footer {
    grid-area: pos-footer;
}

.copy {
    grid-area: copy;
}

img {
    border-radius: 3px;
}
