$font-weights: ("regular": 400, "medium": 500, "bold": 700);

body {
  margin: 0 auto;
  font-family: 'Hind', sans-serif;

  header {
    height: 720px;
    margin: 0 auto;

    .header-wrap {
      width: 80%;
      margin: 0 auto;

      div {
        .header_button {
          margin-top: 55px;
        }

        .login {
          margin-left: 148px;
          font-size: 20px;
        }
      }
    }

    .header_heading {
      font-size: 71px;
      padding-top: 0;
      width: 502px;
      margin-bottom: 0;
      margin-top: 76px;
      line-height: 80px;
      font-weight: map-get($font-weights, "bold");
      font-family: 'Source Sans Pro', sans-serif;
    }

    .header_text {
      width: 541px;
      margin: 0;
      padding-top: 55px;
    }

  }

  .landing-logo {
    padding-top: 20px;
    display: flex;
    flex-direction: row;

    img {
      width: 45px;
      height: 45px;
    }

    p {
      font-size: 20px;
      margin: 0;
      font-weight: map-get($font-weights, "bold");
    }

    span {
      display: block;
      font-size: 10px;
      text-align: center;
      font-weight: map-get($font-weights, "regular");
    }
  }


  main {
    width: 63%;
    margin: 0 auto;

    .section_card {
      margin: 8px 49px 32px;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      color: white;
    }

    .section_text {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 17px;
      font-size: 39px;
      font-weight: bold;
      text-align: center;
    }

    .section_card_img {
      width: 40%;
      border-radius: 5px;
      margin-right: 10px;
    }

    .section_card_right_container {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .section_card_heading {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-top: 50px;
      }

      .section_card_text {
        width: 80%;
        text-align: justify;
        margin: 0 auto;
      }

      .section_link {
        text-align: center;
        display: block;
      }
    }


    .section_banner {
      width: 100%;
      border-radius: 5px;
      position: relative;
      top: 148px;
      display: flex;
      margin: 0 auto;
    }

    .section_banner_text_wrap {
      width: 60%;
      text-align: center;
    }

    .section_banner_heading {
      font-weight: bold;
      font-size: 20px;
    }

    .section_banner_button {
      float: right;
    }
  }

  footer {
    margin: 100px 0 auto 0;
    height: 239px;

    .footer-wrap {
      height: 200px;
      width: 82%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: center;

      .footer_text {
        width: 35%;
      }

      .footer_logo {
        @extend .landing-logo;
        width: 55%;
        padding-left: 21px;
        padding-top: 116px;
      }

      .footer_text {
        width: 32%;
        padding-top: 83px;
        font-size: 15px;
      }

      .footer-cr {
        width: 66%;
        float: right;
        padding-top: 120px;
        text-align: right
      }

    }
  }
  @mixin Link {
    color: white;
  }


  @mixin Button {
    border: none;
    width: 145px;
    height: 45px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: auto auto;
    font-size: 16px;
  }

  button {
    @include Button;
  }

  a {
    @include Link;
  }
}


