body {
  background-color: #21232e;

  header {
    background-image: url("../img/m-h-night.jpg");
    background-size: 100%;
    border-radius: 0 0 500px 0;
    color: white;
  }

  footer {
    background-color: #3b3f50;
    color: white;
  }

  main {
    .section_card {
      background-color: #3b3f50;
    }

    .section_banner {
      background: rgb(220, 161, 8);
      background: linear-gradient(90deg, rgba(220, 161, 8, 1) 16%, rgba(147, 44, 83, 1) 100%);
    }

    .selectedText {
      background-color: #ff4e33;
    }

    .section_banner_heading {
      color: white;
    }

    .section_banner_text {
      color: white;
    }

    .section_text {
      color: white;
    }
  }

  button {
    background-color: #e3ac00;
  }
}




