
body {
  header {
    background-image: url("../img/m-h-day.jpg");
    background-size: 100%;
    border-radius: 0 0 500px 0;
    color: #21232e;
  }
  footer {
    background-color: #21232e;
    color: white;
  }
  main {
    .section_card {
      background-color: #21232e;
    }

    .section_banner {
      background: rgb(98, 146, 24);
      background: linear-gradient(90deg, rgba(98, 146, 24, 1) 16%, rgba(46, 92, 212, 1) 100%);
    }
    .selectedText {
      background-color: #14a0c7;
    }

    .section_banner_heading {
      color: #21232e;
    }

    .section_banner_text {
      color: white;
    }
  }


  button {
    background-color: #629218;
  }
}


