body {
  background-color: #21232e; }
  body header {
    background-image: url("../img/m-h-night.jpg");
    background-size: 100%;
    border-radius: 0 0 500px 0;
    color: white; }
  body footer {
    background-color: #3b3f50;
    color: white; }
  body main .section_card {
    background-color: #3b3f50; }
  body main .section_banner {
    background: #dca108;
    background: linear-gradient(90deg, #dca108 16%, #932c53 100%); }
  body main .selectedText {
    background-color: #ff4e33; }
  body main .section_banner_heading {
    color: white; }
  body main .section_banner_text {
    color: white; }
  body main .section_text {
    color: white; }
  body button {
    background-color: #e3ac00; }

body {
  margin: 0 auto;
  font-family: 'Hind', sans-serif; }
  body header {
    height: 720px;
    margin: 0 auto; }
    body header .header-wrap {
      width: 80%;
      margin: 0 auto; }
      body header .header-wrap div .header_button {
        margin-top: 55px; }
      body header .header-wrap div .login {
        margin-left: 148px;
        font-size: 20px; }
    body header .header_heading {
      font-size: 71px;
      padding-top: 0;
      width: 502px;
      margin-bottom: 0;
      margin-top: 76px;
      line-height: 80px;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif; }
    body header .header_text {
      width: 541px;
      margin: 0;
      padding-top: 55px; }
  body .landing-logo, body footer .footer-wrap .footer_logo {
    padding-top: 20px;
    display: flex;
    flex-direction: row; }
    body .landing-logo img, body footer .footer-wrap .footer_logo img {
      width: 45px;
      height: 45px; }
    body .landing-logo p, body footer .footer-wrap .footer_logo p {
      font-size: 20px;
      margin: 0;
      font-weight: 700; }
    body .landing-logo span, body footer .footer-wrap .footer_logo span {
      display: block;
      font-size: 10px;
      text-align: center;
      font-weight: 400; }
  body main {
    width: 63%;
    margin: 0 auto; }
    body main .section_card {
      margin: 8px 49px 32px;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      color: white; }
    body main .section_text {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 17px;
      font-size: 39px;
      font-weight: bold;
      text-align: center; }
    body main .section_card_img {
      width: 40%;
      border-radius: 5px;
      margin-right: 10px; }
    body main .section_card_right_container {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
      body main .section_card_right_container .section_card_heading {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-top: 50px; }
      body main .section_card_right_container .section_card_text {
        width: 80%;
        text-align: justify;
        margin: 0 auto; }
      body main .section_card_right_container .section_link {
        text-align: center;
        display: block; }
    body main .section_banner {
      width: 100%;
      border-radius: 5px;
      position: relative;
      top: 148px;
      display: flex;
      margin: 0 auto; }
    body main .section_banner_text_wrap {
      width: 60%;
      text-align: center; }
    body main .section_banner_heading {
      font-weight: bold;
      font-size: 20px; }
    body main .section_banner_button {
      float: right; }
  body footer {
    margin: 100px 0 auto 0;
    height: 239px; }
    body footer .footer-wrap {
      height: 200px;
      width: 82%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: center; }
      body footer .footer-wrap .footer_text {
        width: 35%; }
      body footer .footer-wrap .footer_logo {
        width: 55%;
        padding-left: 21px;
        padding-top: 116px; }
      body footer .footer-wrap .footer_text {
        width: 32%;
        padding-top: 83px;
        font-size: 15px; }
      body footer .footer-wrap .footer-cr {
        width: 66%;
        float: right;
        padding-top: 120px;
        text-align: right; }
  body button {
    border: none;
    width: 145px;
    height: 45px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: auto auto;
    font-size: 16px; }
  body a {
    color: white; }
