body {
    font-family: Roboto;
    font-size: 15px;
}
.main_wrap {
    background-color: #363a4a;
    color: white;
}
.footer_wrap {
    background-color:#363a4a;
    color: white;
}
input[type=submit] {
    background-color: coral;
    border-color: coral;
    color: white;
}
.sub {
    font-size: 20px;
}
strong {
    font-size: 30px;
}
.btn {
    background-color: coral;
    color: white;
}
.p1{
    font-size: 30px;
}
.p2 {
    color: #363a4a;
}
.navbar-toggler-icon {
    filter: brightness(0.1);
}
.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(0,0,0,.1) !important;
}
.head {
    font-size: 17px;
}
.bold {
    font-weight: bold;
    font-size: 35px;
}
.bg {
    background-color: #363a4a;
    color: white;
    font-size: 20px;
}
.bg2 {
    color: #727272;
}