/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./scss/global.scss ***!
  \***********************************************************************************************************/
button {
  margin: 10px 5px 10px 5px;
  text-align: center; }

.back {
  margin: 0 auto; }

.li {
  text-align: right; }

.li button {
  float: right; }

#alertMessage {
  background-color: azure;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 30px; }

li {
  list-style-type: none; }

body {
  text-align: center; }

#root {
  width: 50%;
  margin: 0 auto; }

