body {
    width: 50%;
    margin: 0 auto;
}

div {
    margin: 0 auto;
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    background-color: #d4ffff;
    border: 1px solid gray;
    border-radius: 5px;
}