a {
    text-decoration: none;
}

p {
    margin: 0;
}


body {
    font-family: 'Lato';
    color: white;
    text-shadow: 1px 1px 4px #000
}

h1 {
    padding-top: 25px;
    color: #333;
    text-shadow: 1px 1px 3px #eee;
}

.centered {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calc-card {
    position: relative;
    width: 350px;
    padding: 15px 0;
    padding-top: 20px;
    background: #3c82a9;
}

.screen {
    width: 58%;
    height: 54px;
    margin: 10px;
    line-height: 54px;
    margin: 0 auto;
    left: 44px;
    position: relative;
    padding-right: 9px;
    background: #dbfaff;
    text-align: right;
    text-shadow: none;
    border: 1px solid #6B6B6B;
    font-size: 26px;
    color: #111;

}

.screen:focus {
    outline: none;
}

.buttons {
    width: 340px;
    margin: 12px;
    margin: 0 auto;
    margin-top: 20px;
}

button {
    width: 65px;
    height: 45px;
    padding: 0;
    outline: none;
    margin: 0px 0px 10px 5px;
    border: 1px solid #333;
    color: #fefefe;
    font: 24px "Lato", Arial, Helvetica, sans-serif;
    line-height: 45px;
    background: #89c2dd;
    transition: all 1s ease;
}

button:active {
    color: #FFF;
    outline: none;
    border: 1px solid #333;
    -moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 1px 1px #000, 0px 1px #E6E6E6;
    box-shadow: inset 0 1px 1px #000, 0px 1px #E6E6E6;
}

#clear {
    float: left;
    position: relative;
    left: 28px;
    top: 6px;
    background-color: #d02200;
    border: 1px solid #d02200;


}

#clear:active {
    border: 1px solid #444;
    -moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}

#equal {
    width: 65px;
    background-color: #3c71a9;
    border: 1px solid #036;
}

#equal:active {
    border: 1px solid #039;
    -moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}

#minus, #plus, #divide, #multiply {
    background-color: #559fd0;
    border: 1px solid #666;
}

#minus:active, #plus:active, #divide:active, #multiply:active {
    border: 1px solid #555;
    -moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}

.main-log {
    width: 200px;
    overflow: auto;
    height: 330px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px;
}

li .circle {
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0 5px 0 5px;
    border: 2px solid #ff0000;
    color: #000000;
    font: 24px "Lato", Arial, Helvetica, sans-serif;
    line-height: 0;
    transition: none;
    border-radius: 50%;
    background-color: white;

}

li .circle:hover {
    background-color: red;
}

li .circle:active {
    transition: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.97);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.97);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.97);
}

.btn-x {
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0 5px 0 5px;
    border: none;
    color: #000000;
    font: 24px "Lato", Arial, Helvetica, sans-serif;
    line-height: 0;
    background: white;
    transition: all 0.5s ease;
}

.btn-x:active {
    border: none;
    transition: none;
    outline: none;
}

.btn-x:hover {
    color: red;
}

li span {
    color: black;
    text-shadow: none;
}