#myMsg {
    text-align: right;
}

.wrap {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}

input {
    display: block;
    width: 90%;
    margin: 10px;
    height: 30px;
    border-radius: 10px;

}

button {
    display: block;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.message {
    min-height: 500px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

li {
    margin: 10px;
    list-style-type: none;
}

span {
    font-size: 12px;
    display: block;
    float: right;
    width: 100%;
}

.mess {
    font-size: 15px;
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
}

.message2 {
    font-size: 15px;
    padding: 5px;
    background-color: lightskyblue;
    border-radius: 10px;
    float: left;
    text-align: left;
    width: max-content;
}

.mess2 {
    text-align: left;
    font-size: 12px;
    display: block;
    float: left;
    width: 100%;
}
